<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cursofirebase">
    <!-- autorizando o app acessar arquivos externos a ele, dentro do nosso android -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.NovoItemCardapioActivity"></activity>
        <activity
            android:name=".Activity.RecuperarSenha"
            android:label="Recuperar senha"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.CardapioActivity"
            android:label="Cardápio"
            android:parentActivityName=".Activity.PrincipalActivity" />
        <activity
            android:name=".Activity.CadastroUsuarioComumActivity"
            android:label="Cadastro Usuário"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.PrincipalActivity"
            android:label="Home" />
        <activity
            android:name=".Activity.CadastroUsuarioActivity"
            android:label="Cadastro Usuário"
            android:parentActivityName=".Activity.PrincipalActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>